doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bundle.css')
    <!--[if lt IE 9]>
    script(type="text/javascript" src="/javascripts/html5shiv.js")
    script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
    <![endif]-->

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block header
      header
    block content
